@font-face {
    font-family: "VALORANT";
    src: url("Assets/fonts/VALORANT.ttf") format("ttf")
}

body {
    margin: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    background-image: url("Assets/images/fundo-jogo-2.png");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
}

* {
    box-sizing: border-box;
}

.page-title {
    color: #ffffff;
    font-family: 'VALORANT', cursive;
    font-size: 5em;
    margin-bottom: 0em;
}

.page-subtitle {
    color: #ffffff;
    font-family: 'VALORANT', cursive;
}

main {
    max-width: 80vw;
    margin: auto;
    justify-content: center;
    float: initial;
}

#jogo-da-memoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("Assets/images/fundo-jogo-2-black.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2em;
    border-bottom: 1em solid #ff4654;
    border-top: 1em solid #ff4654;
    margin-top: 1em;
}

.flip-card {
    background-color: transparent;
    line-height: 1vh;
    width: 10vw;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    line-height: 1vh;
    width: 10vw;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card:hover, .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.flip-card-front {
    background-color: transparent;
    color: black;
}

.flip-card-back {
    background-color: transparent;
    color: black;
    transform: rotateY(180deg);
}

button {
    width: 200px;
    height: 4vh;
    color: #ffffff;
    background-color: #ff4654;
    margin-bottom: 20px;
    border: #ffffff;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #d33340;
    color: #ffffff;
    font-family: 'Baloo 2', cursive;
    font-size: large;
    width: 200px;
    max-height: 4vh;
    margin-bottom: 20px;
}

.recordes {
    color: #ffffff;
    font-family: 'Baloo 2', cursive;
    font-size: large;
    background-color: #ff4654;
}

.w3-modal-container, .w3-modal{
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    background-color: #101823;
    color: #ffffff;
}

.rules-title {
    font-family: 'Baloo 2', cursive;
}

.rules-ul {
    font-family: 'Baloo 2', cursive;
    list-style: decimal;
    text-align: left;
    padding-bottom: 1em;
    padding-right: 1em;
}

.rules-button {
    background-color: #101823;
    width: 200px;
    line-height: 4vh;
    margin-bottom: 20px;
    border: #ffffff;
    transition-duration: 0.4s;
}

.rules-button:hover {
    background-color: #2a3749;
    margin-bottom: 20px;
}