@font-face {
    font-family: "Solo";
    src: url("Assets/fonts/Solo.ttf") format("ttf")
}

@font-face {
    font-family: "VALORANT";
    src: url("Assets/fonts/VALORANT.ttf") format("ttf")
}

.page-title {
    font-family: 'Baloo 2', cursive;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0 auto;
    background: radial-gradient( #455269, #101823);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jogo-1 {
   float: left;
margin-left: 10em;
}

.jogo-2 {
    float: right;
    margin-right: 10em;
}

#jogo-1, #jogo-2 {
    max-width: 70vh;
    min-height: 360px;
    border: 2px solid #ffffff;
}

#game-select-text {
     color: #ffffff;
     font-family: 'Baloo 2', cursive;
}

button {
    font-family: 'Baloo 2', cursive;
    background-color: #101823;
    color: #ffffff;
    width: 50%;
    height: 2em;
    font-size: large;
    margin-top: 2em;
    border: none;
}

button:hover {
    background-color: #2a3749;
    margin-bottom: 20px;
}